.ProductPage {
    padding: 20px 0;
}

.container {
    width: 90%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}

.productPageContent {
    width: 100%;
    min-height: 500px;
}

.ProductPage h1 {
    margin-bottom: 30px;
}

.prodImage {
    border: 1px solid #efefef;
    padding: 30px 0;
    display: flex;

    .prodImageWrapper {
        width: 50%;
        padding: 0 5%;

        & img {
            width: 100%;
            object-fit: contain;
        }
    }
}

.prodMainInfo {
    width: 50%;
    padding: 0 20px;

    .fabricator {
        border-bottom: 1px solid #efefef;
        padding-bottom: 10px;
        display: flex;
        align-items: center;

        .rating {
        }

        .fabricatorImageWrapper {
            display: flex;
            width: 90px;
            height: 50px;
            margin-left: auto;

            .fabricatorImage {
                object-fit: contain;
                width: 100%;
                max-height: 100%;
            }
        }
    }

    .productInfo {
        width: 100%;
        padding: 20px 0;

        .productToBasket {
            .btnAddToBasket {
                cursor: pointer;
                padding: 10px 20px;
                border: 1px solid transparent;
                background: #fb2020;
                color: #fff;
                font-weight: 500;

                &:hover {
                background: #d30000;

                }
            }

            .btnInBasket {
                cursor: pointer;
                padding: 10px 20px;
                border: 1px solid transparent;
                background: #1eb503;
                color: #fff;
                font-weight: 500;
                

                &:hover {
                background: #20d600;

                }
            }
        }

        .productFabricator {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            line-height: 2;
            margin-top: 30px;

            & p:first-child {
                color: gray;
            }
        }
    }
}

.prodPrice {
    font-size: 24px;
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.info {
    margin-top: 50px;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 1.6;

    & h2 {
        margin-bottom: 30px;
    }
}
