* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #202020;
    font-family: 'Montserrat', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

.app {
    width: 100%;
    margin: 0 auto;
}