
.container {
    width: 90%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}

.reviewsBlock {
    height: 320px;
    overflow: hidden;

    & h3 {
        margin: 20px 0;
    }

    .reviewList {
        display: flex;
    }

    
}


@media (max-width: 1200px) {
    .container {
        width: 96%;      
    }

    .reviewsBlock {
        height: calc(180px + (320 - 180) * ((100vw - 320px) / (1200 - 320)));
    
        & h3 {
            margin: 12px 0;
        }
    }
}


@media (max-width: 800px) { 

    .reviewsBlock {
        height: auto;
     
    
        .reviewList {
            flex-direction: column;
        }
    
        
    }
}