
form h2 {
    border-bottom: 2px solid #d8130d ;
    padding: 30px;
}

.errorWrapper {
    padding: 20px 30px;
    background: #ffe5e5;
    border-bottom: 1px solid #ff8f8b;

}
.error {
    color: #d8130d;
}

.formContainer {
    padding: 0 30px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.inputWrapper label {
    font-size: 18px;
    color: #6e6e6e;
    margin-bottom: 5px;
}


.input {
    padding: 8px;
    outline: none;
    border: 1px solid #ebebeb;
    color: #3c3c3c;
    padding-left: 10px;
    background: #f5f5f5;

    &:focus {
        outline: none;
    }
}

.loginBtn {
    padding: 7px 25px;
    font-size: 18px;
    margin-top: 30px;
    margin-left: auto;
    background: #d8130d;
    color: #fff;
    border: 1px solid transparent;
    cursor: pointer;

    &:disabled {
        background: #d8140d41;
        cursor:default;

    }
}

.btnLoader {
    color: #fff;
}


@media (max-width: 1200px) {

    form h2 {
        padding: calc(10px + (30 - 10) * ((100vw - 320px) / (1200 - 320)));
    }
    
    .errorWrapper {
        padding: calc(8px + (20 - 8) * ((100vw - 320px) / (1200 - 320))) calc(15px + (30 - 15) * ((100vw - 320px) / (1200 - 320)));
    }
    .formContainer {
        padding: 0 calc(10px + (30 - 10) * ((100vw - 320px) / (1200 - 320)))ж
    }
    
    .inputWrapper {
        margin-top: 10px;
    
    }
    
    .inputWrapper label {
        font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1200 - 320)));
    }

    .input {
        padding: calc(4px + (8 - 4) * ((100vw - 320px) / (1200 - 320)));
        padding-left: 5px;
    }
    
    .loginBtn {
        padding: calc(2px + (7 - 2) * ((100vw - 320px) / (1200 - 320)))  calc(8px + (25 - 8) * ((100vw - 320px) / (1200 - 320)));
        font-size:  calc(12px + (18 - 12) * ((100vw - 320px) / (1200 - 320)));
        margin-top:  calc(10px + (30 - 10) * ((100vw - 320px) / (1200 - 320)));
    }
}