.SliderBlock {
    width: 100%;
    height: 500px;
    background: #f1f1f18c;
}


.container {
    width: 90%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}

.sliderBlockWrapper {
    height: 100%;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.columnSlides {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.smallSlide {
    height: 100%;
    border: 1px solid #dcdada;
}


.slider {
    width: 60%;
    height: 100%;
    border: 1px solid #dcdada;

}