
.FabricatorCard {
    width: 33.33%;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(240, 240, 240);

    &:hover {
        box-shadow: 0px 0px 20px 5px rgba(199, 199, 199, 0.458);
        transition: all 0.2s;
    }
}


.fabricatorsImgWrapper {
    max-width: 180px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fabricatorImg{
    width: 100%;
    max-height: 100px;
}


@media (max-width: 1200px) {

    .FabricatorCard {
        width: calc(50% + (33.33 - 50) * ((100vw - 320px) / (1200 - 320)));
        height: calc(110px + (150 - 110) * ((100vw - 320px) / (1200 - 320)));
        padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1200 - 320)));
        justify-content: center;
    }
    
    
    .fabricatorsImgWrapper {
        max-width: calc(100px + (180 - 100) * ((100vw - 320px) / (1200 - 320)));
        height: calc(70px + (120 - 70) * ((100vw - 320px) / (1200 - 320)));
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    .fabricatorImg{
        width: calc(70% + (100 - 70) * ((100vw - 320px) / (1200 - 320)));
    }
    
    
}
