.container {
    width: 90%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}

.Catalog {
    width: 80%;
    margin-left: auto;
    padding: 20px 0;

}
.loader {
    width: 80px;
    margin: 0 auto;
}    
    