.Breadcrumbs {
    background: #f3f3f3;
    padding: 15px 0 60px 0;
} 

.breadcrumbsList {
    position: relative;
    display: flex;
    font-size: 16px;
}

.container {
    width: 90%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}

.breadcrumbItem {
    font-size: 14px;
    font-weight: 600;
    color: rgb(145, 145, 145);
}

.breadcrumbItemLink {
    font-size: 14px;
    font-weight: 600;
    color: #919191;
    border-bottom: 1px dashed #919191;
}

.breadcrumbDash {
    margin: 0 20px;
}

.currentBreadcrumb h1 {
    font-size: 30px;
    position: absolute;
    top: 25px;
    left: 0;
    color: #000;

}