.Breadcrumbs {
    background: #f7f7f7;
    padding: 15px 0 80px 0;
} 

.breadcrumbsList {
    position: relative;
    display: flex;
    font-size: 16px;
}

.container {
    width: 90%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}


.breadcrumbItemLink, .breadcrumbItem, .currentBreadcrumb p {
    font-size: 14px;
    font-weight: 500;
    color: #a5a5a5;
}

.breadcrumbItemLink:hover {
    color: #c61811;
}


.breadcrumbDash {
    margin: 0 20px;
}

.currentBreadcrumb h1 {
    font-size: 30px;
    position: absolute;
    top: 35px;
    left: 0;
    color: #000;

}