.PopularCategories {
    width: 100%;
    min-height: 500px;
}

.container {
    width: 90%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}

.popularSection h1 {
    margin: 40px 0px 30px 0px;
}