
.haveAcc {
    margin: 20px auto;
    font-size: 18px;
    color:#a1a1a1;
}

.haveAccLink {
    margin-top: 10px;
    cursor: pointer;
    text-decoration: underline;
    color:#dc0000;

}

@media (max-width: 1200px) {

    .haveAcc {
        margin: calc(6px + (20 - 6) * ((100vw - 320px) / (1200 - 320))) auto;
        font-size: calc(10px + (18 - 10) * ((100vw - 320px) / (1200 - 320)));
    }
}