
.haveAcc {
    margin: 20px auto;
    font-size: 18px;
    color:#a1a1a1;
}

.haveAccLink {
    margin-top: 10px;
    cursor: pointer;
    text-decoration: underline;
    color:#dc0000;

}

@media (max-width: 1200px) {

    .haveAcc {
        margin: calc(8px + (20 - 8) * ((100vw - 320px) / (1200 - 320))) auto;
        font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1200 - 320)));
    }
}