.menu {
    display: flex;
    align-items: center;
    width: 75%;
    height: 100%;
    font-size: 15px;
    font-weight: 700;
    padding: 0 30px;
    justify-content: space-between;
    
}

.menuItemWrapper {
    height: 100%;
    padding: 0 10px;
}

.menuItem {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 3px solid transparent;
}

.menuItem:hover {
    color: #d8130d;
    border-bottom: 3px solid #d8130d;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .menu {
        padding: 0 calc(10px + (30 - 10) * ((100vw - 320px) / (1200 - 320)));
        font-size: calc(6px + (15 - 6) * ((100vw - 320px) / (1200 - 320)));
    }
    .menuItem {
        border-bottom: 1px solid transparent;

        &:hover {
            color: #d8130d;
            border-bottom: 1px solid #d8130d;
        }
    }
    .menuItemWrapper {
        padding: 0 calc(3px + (10 - 3) * ((100vw - 320px) / (1200 - 320)));

        &:nth-child(3) {
            display: none;
        }
    }

}