.LoginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
}


.haveAcc {
    margin: 20px auto;
    font-size: 18px;
    color:#a1a1a1;
}

.haveAccLink {
    margin-top: 10px;
    cursor: pointer;
    text-decoration: underline;
    color:#dc0000;

}

