.CategoryList {
    display: flex;
    border: 1px solid rgb(240, 240, 240);
    width: 50%;
    padding: 20px;
    align-items: start;
    min-height: 160px;

    &:hover {
        box-shadow: 0px 0px 20px 5px rgba(199, 199, 199, 0.458);
        filter: brightness(1.1);
        transition: all 0.2s;
    }
}


.imgWrapper {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgWrapper img {
    max-width: 140px;
    max-height: 140px;
    object-fit: contain;
    padding: 0 35px 10px 0;

    &:hover {
        cursor: pointer;
    }
    
}
.productsTitle {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;

    
    &:hover {
        cursor: pointer;
        color: rgb(228, 1, 1);
    }
}

.typeTitle {
    font-size: 13px;
    line-height: 1.6;


    &:hover {
        cursor: pointer;
        color: rgb(221, 0, 0);
    }
}

.popularCard {
    width: 33.33%;
}