.ProductCard {
    width: 33%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(240, 240, 240);

    &:hover {
        box-shadow: 0px 0px 20px 5px rgba(199, 199, 199, 0.458);
        filter: brightness(1.02);
        transition: all 0.2s;
    }
}




.imageWrapper {
    width: 160px;
    height: 160px;    
    margin-bottom: 20px;
}

.imageWrapper img {
    width: 160px;
    height: 160px;   
}

.prodPrice {
    margin-top: auto;
}

.ProductCard h4 {
    cursor: pointer;
}

.ProductCardPopular {
    width: 25%;
    height: 230px;

    .imageWrapper {
        width: 120px;
        height: 120px;  
    }

    img {
        width: 120px;
        height: 120px;   
    }

    h4 {
        font-size: 13px;
    }
}

@media (max-width: 1200px) {
    .ProductCardPopular {
        width: 33%;
    }
}

@media (max-width: 800px) {
    .ProductCardPopular {
        width: 50%;
        height: calc(120px + (230 - 120) * ((100vw - 320px) / (1200 - 320)));
        padding: calc(5px + (20 - 5) * ((100vw - 320px) / (1200 - 320)));

        .imageWrapper {
            width: calc(70px + (120 - 70) * ((100vw - 320px) / (1200 - 320)));
            height: calc(70px + (120 - 70) * ((100vw - 320px) / (1200 - 320)));
            margin-bottom: calc(5px + (20 - 5) * ((100vw - 320px) / (1200 - 320)));
        }
    
        img {
            width: calc(70px + (120 - 70) * ((100vw - 320px) / (1200 - 320)));
            height: calc(70px + (120 - 70) * ((100vw - 320px) / (1200 - 320)));
        }
    
        h4 {
            font-size: calc(8px + (13 - 8) * ((100vw - 320px) / (1200 - 320)));
        }
    }
}