.ProductListPage {
    width: 100%;
    min-height: 500px;
    padding: 20px 0;
}

.productListWrapper {
    width: 80%;
    margin-left: auto;

}

.container {
    width: 90%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}
 
.productsBlock {

    & h2 {
        margin: 20px 0;
    }
}

.clearFilters {
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #bfbfbf;
    background: transparent;
    color: #555;
    cursor: pointer;

    &::before {
        content: 'x';
        display: inline-block;
        margin-right: 8px;
    }

    &:hover {
        border: 1px solid #cd0c0c;
        color: #555;
    }

    
}

@media (max-width: 800px) {
    .productListWrapper {
        width: 100%;
    
    }
    
    .container {
        width: 96%;
    }
     
    .productsBlock {
    
        & h2 {
            margin: calc(10px + (20 - 10) * ((100vw - 320px) / (1200 - 320))) 0;
        }
    }
}