.ProductListPage {
    width: 100%;
    min-height: 500px;
}

.productListWrapper {
    width: 80%;
    margin-left: auto;

}

.container {
    width: 90%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}
