

.logoBlock {
display: flex;
height: 100%;
align-items: center;
border-bottom: 3px solid transparent;

    .logo {
        display: flex;
        align-items: center;

        & .logoIcon {

            width: 35px;
            height: 35px;
            margin-right: 5px;

            
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
        }


        .logoAqua {
            color: #005bcb;
            font-weight: 800;
            
            
        }
        .logoTerm {
            color: rgb(255, 77, 0);
            font-weight: 800;
        }
    }




}


@media (max-width: 1200px) {

    
    .logo {
        .logoIcon {
            width: calc(20px + (35 - 20) * ((100vw - 320px) / (1200 - 320))) !important;
            height: calc(20px + (35 - 20) * ((100vw - 320px) / (1200 - 320))) !important;
            display: flex;
            align-items: center;
            
        }


        .logoAqua {
            font-size: calc(8px + (24 - 8) * ((100vw - 320px) / (1200 - 320)));
            
            
        }
        .logoTerm {
            font-size: calc(8px + (24 - 8) * ((100vw - 320px) / (1200 - 320)));
        }
    }



}
