.FabricatorsList {
    display: flex;
    margin-bottom: 50px;
}

.container {
    width: 90%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}

.FabricatorsListWrapper {
    display: flex;
    flex-flow: row wrap;
}

