.FabricatorsList {
    display: flex;
    margin-bottom: 50px;
}

.container {
    width: 90%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}

.FabricatorsListWrapper {
    display: flex;
    flex-flow: row wrap;
}

.FabricatorsPageWrapper {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    float: right;
    
}

.fabricatorsText {
    width: 80%;
    float: right;
    text-align: center;
    margin: 30px 0;
}
