.infoHeader {
    font-size: 14px;
    border-bottom: 1px solid #00000014;
    padding: 12px 0;
}

.container {
    width: 90%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}
.infoHeaderContent {
    justify-content: space-between;
    display: flex;

    
    .authUserPanel {
        display: flex;
        position: relative;


        .adminPanel {
            position: absolute;
            right: 130px;
            top: -2px;
            font-size: 16px;
            border: 1px solid transparent;
            border-radius: 10px;
            padding: 0 20px;
            background: rgb(0, 225, 8);
            color: #fff;
            font-weight: 600;
        }
    }

}

.city {
    color: rgb(237, 59, 0);
}

.phone {
    font-weight: 600;
}

.btn {
    background: transparent;
    border: none;
    font-weight:600;
    cursor: pointer;
}

.loginForm {
    width: 800px;
    height: 600px;
    background: #a4a4a4;
}

.logoutBtn {
    cursor: pointer;
    font-weight: 700;
}