.CategoryList {
    display: flex;
    border: 1px solid rgb(240, 240, 240);
    width: 50%;
    padding: 20px;

    &:hover {
        box-shadow: 0px 0px 20px 5px rgba(199, 199, 199, 0.458);
        transition: all 0.2s;

    }
}

.CategoryList div {
    display: flex;
    align-items: start;
    min-height: 200px;
}

.CategoryList img {
    object-fit: contain;
    padding: 0 35px 10px 0;
    
}

.CategoryList h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.CategoryList p {
    font-size: 18px;
    font-weight: 400;
}

.productsTitle {
    display: flex;
    flex-direction: column;
}